<div class="container p-3 my-3 bg-secondary text-white">
    <p>Marty</p>
    <div [formGroup]="form">
        <input class="form-control" label="carta para el doc" formControlName="control">
        <div class="text-left pt-1">
            <button class="btn btn-primary" (click)="sendMenssage(form.controls.control.value)">Enviar</button>
        </div>
        <div class="text-rigth">
            <button class="btn btn-primary" (click)="viewMenssage()">Mostrar carta</button>
        </div>
        <h3 *ngIf="menssageToDoc">{{menssageToDoc}}</h3>
    </div>
</div>